<%- include('header') -%>

<h1>
  About Page
</h1>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat magni dolore in velit inventore nam ut, quas fugit blanditiis et laudantium asperiores non numquam sapiente labore. Suscipit mollitia molestiae nam!</p>

<%- include('footer') -%>